body {
    background-color: #F0F0F0;
    font-family: monospace;
}

#bottom_spacer{
    height: 200px;
}

button.rr-smalltext {
    font-size: smaller;
}
.clear_register {
    font-size: smaller;
}

ul.nav-tabs > li > a {
    color: rgb(51, 51, 51);
}

ul.nav-tabs { border-bottom: none; }

textarea.register { min-height: 49px; }